@charset "utf-8";
.headingimage {
    margin-top: 1%;
    width: 320px;
    height: 90px;
    float: left;
    margin-left: 20%;
}
.title  {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 70px;
    text-align: left;
}
.title_2 {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    font-size: 70px;
}

.nav {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-style: italic;
    text-align: left;
    margin-left: 50%;
    width: 25%;
    margin-bottom: 100%;
}
.contenttable {
    width: 100%;
    margin-right: 5%;
}

.content {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    text-align: left;
    margin-left: 5%;
    width: 50%;
}

.headingtable {
    width: 100%;
    height: 100px;
    margin-top: 5%;
}

.no_margin_nav {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-style: italic;
    text-align: left;
    margin-bottom: 100%;
}

.content_img {
    width: 320px;
    height: 200px;
    float: left;
    text-align: left;
}
form {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    background-color: #A0A0A0;
    margin-bottom: 40%;

}
form input {
    background-color: #A0A0A0;
    border-width: thick;
}
.submit_button {
    color: #EB2428;
    background-color: #F6999A;
}
